@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,400);

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

$global-font: 'Josefin Slab', 'serif';
$first-breakpoint: 1199px;
$second-breakpoint: 599px;

html,body,#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: $global-font;
    font-size: 18px;
    overflow: hidden;
}

a,a:hover {
    text-decoration: none;   
}
#overlay {
    display: none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: black;
    opacity:0.6; /* see below for cross-browser opacity */
    z-index: 999;
}

#intro {
    position:absolute;
    width: 600px;
    height: 350px;
    left: 50%;
    top: 140%;
    padding: 15px;
    margin: -175px 0 0 -300px;
    z-index: 1000;
    $rounded-corner-radius:6px;
    background-color: rgba(245, 245, 245, 0.9);
    -webkit-border-radius: $rounded-corner-radius; 
    -moz-border-radius: $rounded-corner-radius; 
    border-radius: $rounded-corner-radius;
    h1 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

#intro-close {
    position:absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    background-image: url("../images/app/close.png");
    cursor: pointer;
}

.map-box {
    background-color: #f5f5f5;
    border: solid 1px #2f2f2f; 
}

.shadow {
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
}

#legend {
    position: absolute;
    width: 250px;
    right: -150px;
    top: 140px;
    padding: 10px;
    text-align:center;
    
    h2 {
        font-size: 1.6em;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    
    .btn-group {
        padding: 10px;
        padding-top: 0px;
    }
    
    p {
        font-size: .8em;
    }
    #select-heading {
        margin-bottom:0px;
    }   

}

#legend-wrapper {
    padding: 10px;
}

#border-style {
    color: blue;
    
}


#toggle {
    position: absolute;
    top: 10px;
    left: -20px;
    width: 20px;
    background-color: #f5f5f5;
    box-shadow: 5px 5px 15px 5px #888888;
    border: solid 1px #888;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background-color: #3c3c3c;
    opacity: .8;
    z-index: 10;
    
    ul {
        padding-left: 10px;
        height: 50px;
        li {
            list-style: none;
            display: block;
            float: left;
            padding: 8px 0px;
            text-transform: uppercase;

            a {
                text-shadow: 0 2px 1px rgba(0,0,0,0.5);
                display: block;
                height: auto;
                width: auto;
                text-decoration: none;
                color: #DFDEDE;
                font-size: 1.4em;
                font-weight: 100;
                margin: 0 .5em;
                transition: all .25s ease-in-out;
                -moz-transition: all .25s ease-in-out;
                -webkit-transition: all .25s ease-in-out;

                &:hover {
                    color: #efefef;
                    margin-top: .1em;
                    transition: all .25s ease-in-out;
                    -moz-transition: all .25s ease-in-out;
                    -webkit-transition: all .25s ease-in-out;
                }
            }
        }

        .social-media-links {
            float: right;
            a {
                display: inline-block;
                padding: 10px;
            }
            img {
                height: 30px;
                opacity: .9;
                transition: all .25s ease-in-out;
                -moz-transition: all .25s ease-in-out;
                -webkit-transition: all .25s ease-in-out;
            }
            &:hover {
                opacity: .2;
                transition: all .25s ease-in-out;
                -moz-transition: all .25s ease-in-out;
                -webkit-transition: all .25s ease-in-out;
            }
        }
    }
}

#PBTlogo { 
    float: left;
    border-right: solid 2px #6C6C6C;
    padding-right: 10px;
    margin-top: .3em;
}

.info-window-inner {
    $rounded-corner-radius: 6px;
    font-family: $global-font;
    font-size: 1.4em;
    width: 600px;
    @media (max-width: $first-breakpoint) {
        width: 400px;
    }
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.8);
    -webkit-border-radius: $rounded-corner-radius; 
    -moz-border-radius: $rounded-corner-radius; 
    border-radius: $rounded-corner-radius;
    text-align: left;
    h2 {
        text-transform: uppercase;
        font-size: 1.8em;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .phocalstream-link {
        font-size: 1.2em;
        width: 40%;
        margin: 10px auto;
        border: 1px solid gray;
        background-color: lightgray;
        -webkit-border-radius: $rounded-corner-radius; 
        -moz-border-radius: $rounded-corner-radius; 
        border-radius: $rounded-corner-radius;
        &:hover {
            background-color: #e6e6e6;
            a { 
                color: #ac0505;
            }
        }
    }
    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: black;
        padding: 10px 0px;
        text-align: center;
        @media (max-width: $first-breakpoint) {
            font-size: .6em;
        }
    }
    img {
        width: 100%;   
    }
}

.tl-location .timelapse-video {
    height: 390px;
    width: 100%;
    @media (max-width: $first-breakpoint) {
        height: 256px;
    }
}
.story-location .timelapse-video {
    height: 330px;
    width: 100%;
    @media (max-width: $first-breakpoint) {
        height: 216px;
    }
}


//From old pbt-about page

.container-fluid {
    margin:0; 
    padding: 0;
}

.row {
 margin: 0;   
}

.title {
    position: relative; 
    color: #F0F0F0;
    font-weight: 100;
}

.row-outcome {
    border-bottom: solid 1px gray;   
}

.keyword-container {
    width: 25%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: left;
}

.keyword-container h3 {
    text-align: center;   
}

.fact-container {
    padding: 0px;   
    border: 1px solid white;
    height: 300px;
    padding: 0px;
}

.fact-cover {
    position: relative;
    background: lightblue url('/images/thing.png') no-repeat left top;
    height: inherit;
    z-index: 2;
}

.fact {
    text-align: center;
    padding: 30px;
    position: absolute;   
    z-index: 1;
}

.row-jack-creek-gif {
    width: 100%;
    margin:0;
}

.jack-creek-gif {
    background: url('/images/jackcreek.gif') no-repeat left top;
    height: inherit;
    width: inherit;
}
 	

