
// Vendor imports
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,400);

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

// Global imports
@import "global/variables.scss";

// Module imports
@import "modules/map.scss";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: $global-font;
    font-size: 18px;
}

body {
    overflow: hidden;
}

.container-fluid {
    margin:0; 
    padding: 0;
}

a,a:hover {
    text-decoration: none;   
}


.box-shadow {
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
}

.shadow {
	  		text-shadow: 1px 1px 4px #424242;
  	   -moz-text-shadow: 1px 1px 4px #424242;
	-webkit-text-shadow: 1px 1px 4px #424242;
}

.center {
    text-align: center;
}