#about-page {
    overflow: visible !important;
}

#lead-image {
    background: url('/images/about/mormon.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}

#lead-container {
    position: absolute;
    top: 25%;
    right: 10%;
    text-align: right; 
    color: #F0F0F0;
    font-weight: 100;
    width: 920px;
    @media (max-width: $first-breakpoint) {width: 760px;}
    @media (max-width: $second-breakpoint) {width: 560px;}
    @media (max-width: $third-breakpoint) {width: 460px;}
    @media (max-width: $fourth-breakpoint) {width: 280px;}
}

#lead-title {
    border-bottom: thin solid #F0F0F0;
    padding-bottom: 30px;
    margin: 5px 0;
    font-size: 5.4em;
    @media (max-width: $first-breakpoint) {font-size: 4.4em;}
    @media (max-width: $second-breakpoint) {font-size: 3.2em;}
    @media (max-width: $third-breakpoint) {font-size: 2.6em;}
    @media (max-width: $fourth-breakpoint) {font-size: 2em;}
}

#lead-copy {
    margin-top: 30px;
    font-size: 3.6em;
    @media (max-width: $first-breakpoint) {font-size:  2.8em;}
    @media (max-width: $second-breakpoint) {font-size: 2.2em;}
    @media (max-width: $third-breakpoint) {font-size: 1.8em;}
    @media (max-width: $fourth-breakpoint) {font-size: 1.6em;}
}



.row {
        margin: 0;   
    }

.row-sources {
    h1 {
        font-size: 3em;
    }
}


 .big-text{
    width: 85%;
    margin: 10px auto;
    padding: 20px 0;
    border-bottom: solid 1px gray;
     
    h1 {
        font-size: 2.6em;
    }
    p {
        font-size: 1.6em;
    }
}
        
.asides-container {
    max-width: $first-breakpoint;
    margin: 0 auto;
    text-align: center;
    .aside-container {
        padding: 20px;
        margin-bottom: 40px;
        h3 {
            font-size: 1.8em;
        }
        .aside-icon {
            height: 80px;
            margin: -60px auto 0 auto;
            padding: 10px;
            background-image: url('/images/about/icons/water-drop.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        p {
            text-align:justify;
        }
    }

    .outcome-btn {
        font-size: 1.2em;
        width: 40%;
        margin: 10px auto;
        border: 1px solid gray;
        background-color: #f2f2f2;
        -webkit-border-radius: 4px; 
        -moz-border-radius: 4px; 
        border-radius: 4px;
        &:hover {
            background-color: #e6e6e6;
            a { 
                color: #ac0505;
            }
        }
    }
}     


.grid-container {
    position: relative;
    float: left;
    width: (100%  / 4);
    @media (max-width: $first-breakpoint) {width: (100%  / 3);}
    @media (max-width: $second-breakpoint) {width: (100%  / 2);}
    @media (max-width: $fourth-breakpoint) {width: (100%  / 1);}
    
    height: 300px;
    padding: 0px;
    
    .grid-panel-cover {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px rgba(211, 211, 211, 0.28) solid;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 75%;
        z-index: 2;
    }
    .grid-behind {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #8aa3b9;
        padding: 30px;
        z-index: -99;

        p {
            font-size: 2em;
            margin-top: 15%;
        }
    }
}

#allcities{background-image: url('/images/about/icons/allcities.png'); }
#basin{background-image: url('/images/about/icons/basin.png'); }
#states{ background-image: url('/images/about/icons/states.png');}
#streams{background-image: url('/images/about/icons/streams.png'); }
#urban{background-image: url('/images/about/icons/urban.png'); }
#crane{background-image: url('/images/about/icons/crane.png'); background-size: 35%; }
#corn{background-image: url('/images/about/icons/corn.jpg'); background-size: 55%;}
#aquifer{background-image: url('/images/about/icons/aquifer.png'); background-size: 35%; }
#aquifer-basin{background-image: url('/images/about/icons/aquifer_basin.png'); background-size: 55%; }

    

#row-jack-creek-gif {
    width: 100%;
//    margin-bottom: 100px;
    
    .title {
        position: absolute;
//        top: 10px;
        left: 20%;
        color: #F0F0F0;
        margin: 150px auto;
        h1 {
            font-size: 3.4em;
        }
    }
}

.jack-creek-gif {
    background: url('/images/about/jackcreek.gif') no-repeat left top;
    height: 100%;
    width: 100%;
}
