#map-page {
    overflow: hidden;
}

#map-canvas {
    overflow: hidden;
    height: 100%;
    z-index: $map-z-index;
}

.map-box {
    background-color: $map-box-color;
    border: solid 1px #2f2f2f;
}

.map-box-wrapper {
    padding: 10px;
}

#overlay {
    display: none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: black;
    opacity:0.6;
    z-index: $overlay-z-index;

    @media (max-width: $third-breakpoint) {
        display: block;
    }
}

#intro {
    position:absolute;
    width: 550px;
    left: 50%;
    top: 140%;
    padding: 15px;
    margin: -175px 0 0 -275px;
    z-index: $above-overlay-z-index;
    font-family: $global-font;
    font-size: .9em;
    $rounded-corner-radius:6px;
    background-color: rgba(245, 245, 245, 0.9);

    @include border-radius($rounded-corner-radius);

    h1 {
        margin: 5px auto;
        text-align:center;
    }

    @media (max-width: $first-breakpoint) {
        width: 500px;
    }
    @media (max-width: $third-breakpoint) {
        display: none;
    }
}

#intro-close {
    position:absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    background-image: url("../images/app/close.png");
    cursor: pointer;
}

.intro-span {
    padding: 2px 5px;
    border-radius: 5px;
}

#tl-span {
    background: rgba(106, 170, 195, 0.7);
}

#still-span {
    background: rgba(244, 85, 85, 0.7);
}

#story-span {
    background: rgba(0, 102, 0, 0.7);
}

#loading {
    width: 200px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    z-index: $above-map-z-index;
    @include border-radius($rounded-corner-radius);
    p {
        margin-bottom: 0;
    }
}

#legend {
    position:fixed;
    top: 30%;
    right:-240px;
    width: 220px;
    z-index: $above-map-z-index;

    font-size:.6em;
    text-align:center;

    @include border-radius($rounded-corner-radius);
    .map-box-wrapper { padding: 20px 10px; }

    border: none;

    h2 {
        font-size: 1.8em;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .btn-group {
        padding: 10px;
        padding-top: 0px;
        label {
            padding: 5px 18px;
        }
    }

    p {
        font-size: 1em;
        text-align: left;
    }
    .select-heading {
        margin-bottom:0px;
        text-align:center;
    }

    .select-markers {
        margin-bottom: 15px;
        span {
            padding: 0 2px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }

    @media (max-width: $third-breakpoint) {
        display: none;
    }

    .theme-select {
        text-align: left;

        p {
            margin: 0;
        }

        input {
            margin-right: 4px;
        }
        .col-xs-6:first-child {
            padding-left:20px;
            padding-right: 5px;
        }
        .col-xs-6:last-child {
            padding-right:20px;
            padding-left: 5px;
        }
    }
}

#location-select {
    position: fixed;
    bottom: -100px;
    width: 100%;

    border: none;
    border-top: solid 1px #2f2f2f;

    z-index: $above-map-z-index;

    .location-title {
        display: inline;
        font-size: 1.2em;
        text-transform: uppercase;
        margin:10px 30px 10px 10px;
    }
    .select-heading {
        display: inline;
        padding-right:10px;
        font-size:.8em;
    }

    @media (max-width: $third-breakpoint) {
        display: none;
    }
}

.info-window-inner {
    font-family: $global-font;
    font-size: 1.4em;
    text-align: left;
    @media (max-width: $third-breakpoint) {
            font-size: 1.1em;
        }
    width: 840px;
    @media (max-width: $first-breakpoint) {
        width: 700px;
    }
    @media (max-width: $third-breakpoint) {
        width: 300px;
    }
    z-index: 1000000;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.8);
    @include border-radius($rounded-corner-radius);

    h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.8em;
        @media (max-width: $third-breakpoint) {
            font-size: 1.6em;
        }
        font-weight:100;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: black;
        padding: 10px 0px;
        @media (max-width: $first-breakpoint) {
            font-size: .8em;
        }
        @media (max-width: $third-breakpoint) {
            font-size: .6em;
        }
    }
    img {
        width: 100%;
    }
}

.tl-info-window-inner {
    .timelapse-video {
        height: 420px;
        width: 100%;
        @media (max-width: $first-breakpoint) {
            height: 300px;
        }
        @media (max-width: $third-breakpoint) {
            height: 180px;
        }
    }
    .phocalstream-link {
        font-size: 1.2em;
        width: 40%;
        @media (max-width: $third-breakpoint) {
            width: 60%;
        }
        margin: 10px auto;
        border: 1px solid gray;
        background-color: lightgray;
        @include border-radius($rounded-corner-radius);
        &:hover {
            background-color: #e6e6e6;
            a {
                color: #ac0505;
            }
        }
    }
}

.still-info-window-inner {
    width: 400px;
    .col:first-child {
        padding-right: 4px;
    }
    .col:last-child {
        padding-left: 4px;
    }
}

.story-info-window-inner {
    text-align: center;
    width: 400px;

    .story-link {
        color: white;
        background-color: #6aaac3;
        @include border-radius($rounded-corner-radius);
        font-size: 20px;
        &:hover {
            background-color: white;
            color: #6aaac3;
        }
    }
}

.timelapse-video-container {
    padding: 0 100px;
    @media (max-width: $first-breakpoint) {
        padding: 0 20px;
    }
    @media (max-width: $third-breakpoint) {
        padding: 0;
    }
}

.video-container {
    padding: 0 90px;
    @media (max-width: $first-breakpoint) {
        padding: 0 20px;
    }
    @media (max-width: $third-breakpoint) {
        padding: 0;
    }
}