#map-page {
    overflow: hidden;
}

#map-canvas {
    overflow: hidden;
    height: 100%;
}

#overlay {
    display: none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: black;
    opacity:0.6;
    z-index: 999;
    
}

#intro {
    position:absolute;
    max-width: 600px;
    width: 80%;
//    height: 450px;
    left: 50%;
    top: 140%;
    padding: 15px;
    margin: -175px 0 0 -300px;
    z-index: 1000;
    font-family: $global-font;
    font-size: .9em;
    $rounded-corner-radius:6px;
    background-color: rgba(245, 245, 245, 0.9);
    -webkit-border-radius: $rounded-corner-radius; 
    -moz-border-radius: $rounded-corner-radius; 
    border-radius: $rounded-corner-radius;
    h1 {
        margin: 5px auto;
        text-align:center;
    }
    
    @media (max-width: $first-breakpoint) {
        width: 500px;
    }
    @media (max-width: $third-breakpoint) {
//        left: 5%;
//        top:10%;
//        width: 300px;
//        margin:0px;
//        
//        h1 {
//            font-size: 22px;   
//        }
//        
//        p {
//            font-size: 16px;
//        }   
        display: none;
    }
}

#intro-close {
    position:absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    background-image: url("../images/app/close.png");
    cursor: pointer;
}

.map-box {
    background-color: $map-box-color;
    border: solid 1px #2f2f2f; 
}

#legend {
    position:fixed;
    top: 30%;
    right:-200px;
    width: 200px;
    
    font-size:.6em;
    
    padding: 10px;
    text-align:center;
    
    border: none; 
    
    h2 {
        font-size: 1.6em;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    
    .btn-group {
        padding: 10px;
        padding-top: 0px;
    }
    
    p {
        font-size: .8em;
    }
    .select-heading {
        margin-bottom:0px;
    }   
    
    @media (max-width: $third-breakpoint) {
        display: none;
    }

}

.map-box-wrapper {
    padding: 10px;
}

#location-select {
    position: fixed;
    bottom: -100px;
    width: 100%;
    
    border: none;
    border-top: solid 1px #2f2f2f; 
    
    h3 {
        display: inline;
        text-transform: uppercase;
        margin-right: 40px;
    }
    .select-heading {
        display: inline;
    }
    
    #basin-btn-group {
//        display:inline;
    }
    
    @media (max-width: $third-breakpoint) {
        display: none;
    }
}

#mobile-warning {
    display:none;
    position:fixed;
    top: 10px;
        right: 30%;
    
    width: 300px;
    
    @media (max-width: $third-breakpoint) {
        display: block;
        
    }
    
}

.info-window-inner {
    font-family: $global-font;
    font-size: 1.4em;
    @media (max-width: $third-breakpoint) {
            font-size: 1.1em;
        }
    width: 840px;
    @media (max-width: $first-breakpoint) {
        width: 700px;
    }
    @media (max-width: $third-breakpoint) {
        width: 300px;
    }
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.8);
    -webkit-border-radius: $rounded-corner-radius; 
    -moz-border-radius: $rounded-corner-radius; 
    border-radius: $rounded-corner-radius;
    text-align: left;
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.8em;
        @media (max-width: $third-breakpoint) {
            font-size: 1.6em;
        }
        font-weight:100;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .phocalstream-link {
        font-size: 1.2em;
        width: 40%;
        @media (max-width: $third-breakpoint) {
            width: 60%;
        }
        margin: 10px auto;
        border: 1px solid gray;
        background-color: lightgray;
        -webkit-border-radius: $rounded-corner-radius; 
        -moz-border-radius: $rounded-corner-radius; 
        border-radius: $rounded-corner-radius;
        &:hover {
            background-color: #e6e6e6;
            a { 
                color: #ac0505;
            }
        }
    }
    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: black;
        padding: 10px 0px;
        @media (max-width: $first-breakpoint) {
            font-size: .8em;
        }
        @media (max-width: $third-breakpoint) {
            font-size: .6em;
        }
    }
    img {
        width: 100%;   
    }
}

.story-location {
    text-align: center;
}

.timelapse-video-container {
    padding: 0 100px;
    @media (max-width: $first-breakpoint) {
        padding: 0 120px;
    }
    @media (max-width: $third-breakpoint) {
        padding: 0;
    }
}

.video-container {
    padding: 0 90px;
    @media (max-width: $first-breakpoint) {
        padding: 0 120px;
    }
    @media (max-width: $third-breakpoint) {
        padding: 0;
    }
}

.tl-location .timelapse-video {
    height: 420px;
    width: 100%;
    @media (max-width: $first-breakpoint) {
        height: 300px;
    }
    @media (max-width: $third-breakpoint) {
        height: 180px;
    }
}
.story-location .timelapse-video {
    height: 360px;
    width: 100%;
    @media (max-width: $first-breakpoint) {
        height: 216px;
    }
}