// Global declarations
$global-font: 'Lora', 'serif';

// Map declarations
$map-box-color: #f5f5f5;
$rounded-corner-radius: 6px;

//Overlay
$overlay-z-index:999;
$above-overlay-z-index:1000;


// Breakpoints
$first-breakpoint: 1199px;
$second-breakpoint: 959px;
$third-breakpoint: 767px;
$fourth-breakpoint: 320px;